.person__card {
	@apply border-4 m-2 rounded-lg border-white shadow-2xl bg-secondary;
	&:hover {
		@apply shadow-white cursor-pointer  scale-110 transition-all z-10;
	}
}

.card_map {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	width: 100%;
	margin: auto;
}

.blur {
	@apply blur-sm h-2;
}

// ul {
// 	@apply flex justify-center flex-row w-fit flex-wrap md:flex-nowrap;
// 	li {
// 		@apply mx-auto border-2 ml-2 w-12 h-8 align-middle justify-center;
// 		&:hover {
// 			@apply bg-secondary transition-all;
// 		}
// 		a {
// 			@apply mx-1 align-middle justify-center;
// 		}
// 	}
// }
