.person__card {
	box-shadow: 5px 5px 15px 3px rgb(0, 0, 0);
	@apply md:border-white relative  md:h-96 border-4 m-4  rounded-lg bg-[#DDDDDD] md:w-64;
	&:hover {
		box-shadow: 0 0 5px 4px rgb(3, 3, 3),
			0 0 2px 5px rgb(255, 255, 255);
		@apply shadow-white cursor-pointer  scale-110 transition-all z-10;
	}
	.img {
		box-shadow: 0 10px 10px 2px #383838;
		@apply hidden md:block md:w-auto md:h-[9.3rem];
		.blur {
			@apply grayscale-[0.7]  blur-[7px] brightness-[0.80] h-2;
		}
	}
}

.rounded_avatar {
	border-radius: 30%;
	box-shadow: 0 0 7px 5px black;
	@apply relative md:mt-0 border-4 -top-14 -left-4  w-28 h-20 border-[#888888] 
	md:absolute md:top-16 md:left-16  md:w-32 md:h-32;
	&:hover {
		@apply border-blue-800 animate-pulse transition-all;
	}
}
.char_avatar {
	border-radius: 30%;
	@apply md:absolute md:left-2;
}

.card_map {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@apply mx-16 pt-12;
	// @apply grid grid-cols-1 grid-rows-2
	// md:grid-cols-4;
}
.person_info {
	@apply md:mt-12  md:w-auto flex flex-col flex-wrap md:mx-auto;
	h1 {
		@apply mx-auto  md:text-2xl md:tracking-wide font-bold antialiased;
	}
	h2 {
		@apply mx-auto md:text-lg md:tracking-wide font-bold antialiased;
	}
	.stat_div {
		@apply mx-auto md:w-60;
		.card_stats {
			@apply md:my-0.5 flex flex-row flex-wrap justify-center;
			.left_stat {
				@apply p-0;
				li {
					@apply font-medium align-middle  border-2 bg-[#F9B208] rounded-md border-black md:my-1 md:p-0.5 md:text-sm;
				}
			}
			.right_stat {
				@apply p-0;
				li {
					@apply font-medium align-middle ml-3 border-2 bg-[#F9B208] rounded-md md:p-0.5 border-black md:my-1  md:text-sm;
				}
			}
		}
	}
}

#good__power,
#good__strength,
#good__intellect,
#good__durability,
#good__fight,
#good__speed {
	box-shadow: 0 -5px 10px 2px #06ff00;
	background-color: #06ff00;
	border-color: white;
	animation: max-level 1s infinite;
	@keyframes max-level {
		0%   {top: 0px;}
  25%  {top: 200px;}
  50%  {top: 100px;}
  75%  {top: 200px;}
  100% {top: 0px;}
	}
}

#low__stat {
	background-color: #eeeeee;
	border: 2px dotted;
	@apply animate-pulse;
}
