.person__card {
	box-shadow: 5px 5px 15px 3px rgb(0, 0, 0);
	@apply md:border-white relative  md:h-96 border-4 md:m-4 my-3  rounded-lg bg-[#DDDDDD] md:w-64;
	&:hover {
		box-shadow: 0 0 5px 4px rgb(3, 3, 3),
			0 0 2px 5px rgb(255, 255, 255);
		@apply shadow-white cursor-pointer  scale-110 transition-all z-10;
	}
	.img {
		box-shadow: 0 10px 10px 2px #383838;
		@apply hidden md:block md:w-auto md:h-[9.3rem];
		.blur {
			@apply grayscale-[0.7]  blur-[7px] brightness-[0.80] h-2;
		}
	}
}

.rounded_avatar {
	border-radius: 30%;
	box-shadow: 0 0 7px 5px black;
	@apply md:mt-0 border-4   w-32 h-32 border-[#888888] 
	md:absolute md:top-16 md:left-16  md:w-32 md:h-32 relative -top-3 -left-3 inline-block;
	&:hover {
		@apply border-blue-800 animate-pulse transition-all;
	}
}
.char_avatar {
	border-radius: 30%;
	@apply md:absolute md:left-2;
}
.badge {
	@apply absolute left-56 top-3  md:left-44 md:top-0;
}
.rank {
	@apply text-xl md:text-base font-semibold md:ml-2.5 md:text-1 md:-mt-4;
}
.card_map {
	@apply md:mx-16 md:pt-12 grid 
	md:grid-cols-3 md:max-w-4xl md:w-[100%] w-80 mx-auto;
}
.person_info {
	@apply md:mt-12  md:w-auto flex flex-col flex-wrap md:mx-auto;
	h1 {
		@apply mx-auto  md:text-2xl text-2xl md:tracking-wide font-bold antialiased mt-1;
	}
	h2 {
		@apply mx-auto md:text-lg  text-xl md:tracking-wide font-bold antialiased md:mb-4;
	}
	.stat_div {
		@apply mx-auto md:w-60 md:-my-3 my-0.5;
		.card_stats {
			@apply md:my-0 flex flex-row flex-wrap justify-center my-2;
			.left_stat {
				@apply p-0;
				li {
					@apply font-medium align-middle  border-2 bg-[#F9B208] rounded-md border-black md:my-1 md:p-0.5 md:text-sm my-1;
				}
			}
			.right_stat {
				@apply p-0;
				li {
					@apply font-medium align-middle ml-3 border-2 bg-[#F9B208] rounded-md md:p-0.5 border-black md:my-1  md:text-sm my-1;
				}
			}
		}
	}
}

#good__power,
#good__strength,
#good__intellect,
#good__durability,
#good__fight,
#good__speed {
	box-shadow: 0 -5px 10px 2px #06ff00;
	background-color: #06ff00;
	border-color: white;
	// animation: max-level 1s infinite;
	// @keyframes max-level {
	// 	0% {
	// 		top: 0px;
	// 	}
	// 	25% {
	// 		top: 200px;
	// 	}
	// 	50% {
	// 		top: 100px;
	// 	}
	// 	75% {
	// 		top: 200px;
	// 	}
	// 	100% {
	// 		top: 0px;
	// 	}
	// }
}

#low__stat {
	background-color: #eeeeee;
	border: 2px dotted;
	@apply animate-pulse;
}

.spinner {
	@apply w-8 animate-spin;
}
