.navigationDiv {
  color: white;
  width: 100%;
  background-color: black;
  top: 50px;
  height: 100px;
  box-shadow: 0px 7px 10px rgb(83, 82, 82), 0px -7px 10px rgb(83, 82, 82);
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;
  transition: 0.5s ease;
  animation-duration: 0.5s;
}

.forsticky {
  height: 200px;
}

.menu_sections {
  display: flex;
  justify-content: center;
}

.menu_sections ul {
  display: flex;
  margin-top: 32px;
  transition: 0.5s ease;
}

.menu_sections ul a {
  display: flex;
  font-size: 1.6rem;
  margin-left: 25px;
  margin-right: 25px;
  transition: 0.5s ease;
}

.menu_sections ul a:hover {
  transition: 1ss;
  cursor: pointer;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 20px #fff, 0 0 0 #e60073, 0 0 0 #e60073,
      0 0 0 #e60073, 0 0 60px #e60073, 0 0 0 #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.menu_sections h1 {
  margin-top: 0px;
  font-size: 4rem;
  margin-left: 10px;
  margin-right: 10px;
}

.element {
  margin: 10px 50px;
  height: 80px;
  padding: 5px 25px;
  border: 1px solid red;
  border-radius: 20px;
  background-color: #e60073;
}

@media only screen and (max-width: 600px) {
  .navigationDiv {
    background-color: lightblue;
    width: 100%;
  }
  .body {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navigationDiv {
    background-color: aqua;
    width: 1150px;
  }
}
