.loginDiv {
  display: flex;
  flex-direction: column;
  width: 150px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    button {
      display: flex;
      width: 70px;
      justify-content: center;
    }
    input {
      display: flex;
      width: 150px;
      padding: 2px;
      justify-content: center;
      border: none;
      margin: 1px;
      border-radius: 3px;
    }
    p {
      font-size: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
